@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;


}
.sidebar{
    position: fixed;
    height: 100%;
    width: 275px;
    background: rgb(0, 0, 0);
    top: 0;
    left: 0;
    padding: 6px 16px;

}
.sidebar .logo_content .logo {
    color: #FFF;
    display: flex;
    height: 75px;
    width: 100%;
    align-items: center;

}
 .logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;

}
 .logo_content .logo_name{
    font-size: 20px;
    font-weight: 400;
 }
.sidebar #btn{
    position: absolute;
    color: white;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transform:translateX(-50%);

}
.sidebar ul{
    margin-top: 20px;

}
.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
   /index.html
}
.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: white;
}
.sidebar ul li .bx-search-alt{
    position: absolute;
    z-index: 99;
    padding-top: 20px;
    color: #FFF;
    font-size: 22px;
}

.sidebar ul li a{
    color: green;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 10px;
}
.sidebar ul li a:hover{
    color: #11101d;
    background: white;
}
.sidebar ul li a i{
    height: 50px;
    line-height: 50px;
    min-width: 50px;
    border-radius: 12px;
    text-align: center;
}
.sidebar .profile_content{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    